/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

body{
    background-color: hsl(0, 0%, 94%);
    height: 100dvh;
    width: 100%;
    font-family: 'Poppins';
}

 /* Eliminar flechas en navegadores WebKit (Chrome, Safari, etc.) */
 input[type=number]::-webkit-outer-spin-button,
 input[type=number]::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container__card{
    background-color: #fff;
    border-radius: 1rem 1rem 12rem 1rem;
    padding: 4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container__inputs{
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.container__form-group{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

label{
    color: hsl(0, 1%, 44%);
    font-weight: 400;
    font-style: normal;
}

.container__input{
    border-radius: .4rem;
    border: 1px solid hsl(0, 0%, 86%);
    font-size: 32px;
    height: 4rem;
    padding-left: .6rem;
    font-weight: 700;
    font-style: normal;
    width: 8rem;
}

input::placeholder{
    color: hsl(0, 0%, 69%);
}

.error-message {
    color: red;
    font-size: 0.8em;
}

.input-error {
    border: 2px solid red;
}

.container__button{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: end;
}

.container__line{
    border: 0;
    border-top: 2px solid hsl(0, 0%, 86%);
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    
}

.container__btn{
    background-color: #854dff;
    border: none;
    border-radius: 50%;
    padding: 1rem;
    z-index: 1;
    cursor: pointer;
    transition: .4s ease;
}

.container__btn:hover{
    transform: scale(1.1);
}

.container__result{
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 4rem;
    font-style: italic;
}

.container__datespan{
    color: #854dff;
}